<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-chat"></ion-back-button>
    </ion-buttons>

    <ion-title>chat</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="deleteChat()">
        <ion-icon slot="icon-only" name="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="text-row" [ngClass]="{ 'ion-justify-content-start': conversa.iscliente, 'ion-justify-content-end': !conversa.iscliente }" *ngFor="let conversa of currentChat.conversas">
      <ion-col size="10">
        <div [ngClass]="{ 'cliente': conversa.iscliente, 'barbeiro': !conversa.iscliente }">{{ conversa.texto }}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-textarea [(ngModel)]="message" autosize rows="1" maxRows="3" placeholder="Digite uma mensagem">
      <ion-icon slot="end" src="assets/send_message.svg" (click)="sendMessage()"></ion-icon>
    </ion-textarea>
  </ion-item>
</ion-footer>