<ion-grid>
  <ion-row>
    <ion-col size="2" class="ion-align-self-center">
      <img src="assets/wallet.svg" />
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-col class="ion-text-center">
          <span class="emp">LabNube</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <span class="descricao"> {{ pagamento.ispagamento? 'Dinheiro enviado' : 'Taxa de cancelamento' }}</span>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-row>
        <ion-col class="ion-text-end">
          <span class="value">R${{ valor }}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-end">
          <span class="date">{{ dia }} {{ nomeMes | uppercase }} - {{ horarioFormatado }} </span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
