ion-grid {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

span.emp {
    font-size: .9em;
}

span.value {
    font-size: .9em;
}

span.descricao {
    font-size: .8em;
}

span.date {
    font-size: .8em;
    font-weight: 600;
}