<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="assets/logo.svg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <p id="info">Esqueceu a senha?</p>
      <p>Digite seu endereço de e-mail para obter o código de redefinição de senha.</p>
    </ion-row>
    <form [formGroup]="formGroup" (ngSubmit)="sendEmail()" novalidate>
      <ion-row id="rowInput">
        <ion-icon class="inputIcon" name="close-circle"></ion-icon>
        <input #inputEmail formControlName="email" type="email" />
      </ion-row>
      <ion-row>
        <ion-col class="ion-align-self-end">
          <ion-button type="submit" [disabled]="formGroup.invalid || !inputEmail.value">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>