<ion-header mode="ios">
  <ion-toolbar>
    <ion-butttons slot="start">
      <ion-back-button defaultHref="agenda"></ion-back-button>
    </ion-butttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label class="header">DETALHES DO PERFIL</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="subHeader">Nome</ion-label>
        <ion-label>{{ userService.user.nome }} {{ userService.user.sobrenome }}</ion-label>
      </ion-col>
      <ion-col size="1" class="ion-align-self-end" (click)="extendColName()">
        <ion-icon name="{{ arrowName }}"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isExpendedName" class="ion-justify-content-center">
      <ion-col id="extendedName">
        <ion-icon src="assets/addImage.svg"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isExpendedName" class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <span>Insira a sua foto</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="subHeader">Email</ion-label>
        <ion-label>{{ userService.user.email }}</ion-label>
      </ion-col>
      <!-- <ion-col size="1" align-self-end>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col> -->
    </ion-row>
    <ion-row class="endLine">
      <ion-col>
        <ion-label class="subHeader">Telefone</ion-label>
        <ion-label>({{ userService.user.telefones[0].ddd }}) {{ userService.user.telefones[0].numero }}</ion-label>
      </ion-col>
      <!-- <ion-col size="1" align-self-end>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="header">DETALHES DE SEGURANÇA</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="endLine">
      <ion-col>
        <ion-label class="subHeader">Senha</ion-label>
        <ion-label>Mudar senha</ion-label>
      </ion-col>
      <!-- <ion-col size="1" align-self-end>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col> -->
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="header">IDIOMA</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label class="subHeader">Selecione o idioma</ion-label>
        <ion-label>Portugês</ion-label>
      </ion-col>
      <!-- <ion-col size="1" align-self-end>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </ion-col> -->
    </ion-row>
    <ion-row (click)="logout()">
      <ion-col>
        <ion-label id="exitLabel">Sair</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>