<ion-header mode="ios">
  <ion-toolbar>
    <ion-butttons slot="start">
      <ion-back-button defaultHref="agenda"></ion-back-button>
    </ion-butttons>
    <ion-title class="ion-text-center">Todos os Registros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3" class="ion-text-start price-tag">
        <span class="title">Barba</span>
      </ion-col>
    </ion-row>
    <ion-row class="rowPrice ion-justify-content-center">
      <ion-col size="11" class="ion-text-center">
        <div class="price">
          <div>
            <span class="cifrao">R$ </span>
            <input [(ngModel)]="valorBarba" class="valor" (keyup)="valorBarba = checkInput(valorBarba)" (focus)="valorBarba = removeFloatPart(valorBarba)" (blur)="valorBarba = addFloatPart(valorBarba)" />
          </div>
          <div class="priceTag">
            <ion-icon src="assets/beard_black.svg"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="ion-text-start price-tag">
        <span class="title">Cabelo</span>
      </ion-col>
    </ion-row>
    <ion-row class="rowPrice ion-justify-content-center">
      <ion-col size="11" class="ion-text-center">
        <div class="price">
          <div>
            <span class="cifrao">R$ </span>
            <input [(ngModel)]="valorCabelo" class="valor" (keyup)="valorCabelo = checkInput(valorCabelo)" (focus)="valorCabelo = removeFloatPart(valorCabelo)" (blur)="valorCabelo = addFloatPart(valorCabelo)" />
          </div>
          <div class="priceTag">
            <ion-icon src="assets/hair_black.svg"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" class="ion-text-start price-tag">
        <span class="title">Bigode</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" class="ion-text-center">
        <div class="price">
          <div>
            <span class="cifrao">R$ </span>
            <input [(ngModel)]="valorBigode" class="valor" (keyup)="valorBigode = checkInput(valorBigode)" (focus)="valorBigode = removeFloatPart(valorBigode)" (blur)="valorBigode = addFloatPart(valorBigode)" />
          </div>
          <div class="priceTag">
            <ion-icon src="assets/mustache_black.svg"></ion-icon>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-center" id="rowBtn">
      <ion-col class="ion-text-center">
        <ion-button shape="round" color="primary" (click)="checkValues()">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>