<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <img src="assets/logo.svg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="text">Selfie com o seu documento<br></span>
        <span class="obs">Agora precisamos que você tire uma foto sua segurando o seu documento</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="assets/photoPlaceholder.svg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button shape="round" (click)="takeSelfie()">Continuar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
