ion-content {
    --ion-background-color: #313131;
}

span.text {
    color: var(--ion-color-primary);
    font-size: .9em;
}

div.obs {
    color: #666666;
    line-height: 1;
    font-size: .8em;
    font-family: 'Poppins', sans-serif;
}