<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <img src="assets/success.svg" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="ion-text-center">
        <span>Wow!</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="ion-text-center">
        <span class="aviso">Documentos em analise</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" class="ion-text-center">
        <span class="obs">Esse processo pode levar até 1 dia útil para ser analisado.</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button shape="round" (click)="closeModal()">Fechar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>