#userUnauthorized {
    background-color: #313131;
    color: white;
    border-radius: 0 0 20px 20px;
}

span.obs {
    color: #e5e5e5;
    font-size: .7em;
}

ion-content {
    --ion-background-color: trasnparent;
}