<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="agenda"></ion-back-button>
    </ion-buttons>
    <ion-title>Ganhos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-between">
      <ion-col size="5" class="ion-text-start" (click)="typeView = 'saldo'; userService.isAccountRegister = false">
        <span [class.selected]="typeView === 'saldo'">Saldo</span>
      </ion-col>
      <ion-col size="5" class="ion-text-end" (click)="typeView = 'dados'">
        <span [class.selected]="typeView === 'dados'">Dados Bancários</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="typeView === 'saldo'">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <div id="saldo">
          <div>
            <span class="cifrao">R$ </span>
            <span class="valor">30,00</span>
          </div>
          <div style="margin-top: 10px">
            <span>Seu Saldo</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="typeView === 'saldo'">
    <ion-row class="ion-justify-content-between">
      <ion-col size="5" class="ion-text-start">
        <span>Últimos Registros</span>
      </ion-col>
      <ion-col size="5" class="ion-text-end" (click)="seeAllPayments()">
        <span>Ver todos</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngFor="let pag of ['a', 'b', 'c']">
      <ion-col size="11" class="ion-text-center">
        <pagamentos></pagamentos>
      </ion-col>
    </ion-row>
  </ion-grid>
  <agency-data *ngIf="typeView === 'dados' && !userService.isAccountRegister" (deleteAccount)="resetForm()"></agency-data>
  <ion-content id="secondContent" *ngIf="userService.isAccountRegister && typeView === 'dados'">
    <form [formGroup]="bankForm">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nome do titular da conta*</ion-label>
          <ion-input formControlName="nome" maxLength="50"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Banco*</ion-label>
          <ion-input formControlName="banco" maxLength="15" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Agência*</ion-label>
          <ion-input formControlName="agencia" type="number" (keyup)="formatAgency()"></ion-input>
        </ion-item>
        <ion-item> 
          <ion-label position="floating">Conta Corrente*</ion-label>
          <ion-input formControlName="contacorrente" type="tel" pattern="[1234567890]{2,11}" required (keyup)="formatContaCorrente()"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">CPF/CNPJ do Titular*</ion-label>
          <ion-input formControlName="cnpj" type="number" (keyup)="formatCPF()"></ion-input>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-text-center">
            <ion-button type="submit" shape="round" (click)="saveCard()" [disabled]="bankForm.invalid">Salvar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</ion-content>