ion-header {
    --ion-background-color: #313131;
    color: white;
    border: none;
    box-shadow: none;
    ion-toolbar {
        --border-width: 0;
        --color: white;
        display: flex;
        justify-content: center;
        ion-back-button {
            --icon-font-size: 24px;
        }
        #title {
            font-size: 1.1em;
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
        }
    }
}

ion-content {
    --ion-background-color: #313131;
    span {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
    }
}

#saldo {
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 5px .5px #191919;
    padding-bottom: .5em;
    span {
        font-family: 'Avenir', sans-serif;
        font-weight: 600;
    }
}

span.cifrao {
    font-size: 1.6em;
    vertical-align: super;
}

span.valor {
    color: var(--ion-color-primary) !important;
    font-size: 2.6em;
    font-weight: 700;
}

span.selected {
    border-bottom: 2px solid var(--ion-color-primary);
    padding-bottom: 3px;
}

#secondContent {
    --padding-start: 30px;
    --padding-end: 30px;
    ion-item {
        --color: #666666;
        --border-color: white;
        --padding-start: 0;
        --padding-end: 0;
        ion-input {
            --color: white !important;
        }
    }
}