<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="agenda"></ion-back-button>
    </ion-buttons>
    <div style="text-align: center; width: 80%">
      <span id="title">Ganhos</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-between">
      <ion-col size="5" class="ion-text-start" (click)="typeView = 'saldo'; userService.isAccountRegister = false">
        <span [class.selected]="typeView === 'saldo'">Saldo</span>
      </ion-col>
      <ion-col size="6" class="ion-text-end" (click)="typeView = 'dados'">
        <span [class.selected]="typeView === 'dados'" style="font-size: .75em !important">Dados Bancários</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="typeView === 'saldo'">
    <ion-row class="ion-justify-content-center">
      <ion-col size="11">
        <div id="saldo">
          <div style="margin-bottom: 10px">
            <span style="font-size: 1.2em;">Seu Saldo</span>
          </div>
          <div>
            <span class="cifrao">R$ </span>
            <span class="valor">{{ userService.user.total_receber }},00</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="typeView === 'saldo'">
    <ion-row class="ion-justify-content-between">
      <ion-col size="6" class="ion-text-start">
        <span>Últimos Registros</span>
      </ion-col>
      <ion-col size="5" class="ion-text-end" (click)="seeAllPayments()">
        <span>Ver todos</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngFor="let pagamento of (userService.user.pagamentos.slice(0, 3))">    
      <ion-col size="11" class="ion-text-center">
        <pagamentos [pagamento]="pagamento"></pagamentos>
      </ion-col>
    </ion-row>
  </ion-grid>
  <agency-data *ngIf="typeView === 'dados'" (deleteAccount)="resetForm()"></agency-data>
  <ion-grid *ngIf="typeView === 'dados'">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <span>Criar Conta Mercado Pago?</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-button shape="round" (click)="openAuthMP()">Cadastrar-me</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>