ion-content {
    ion-icon {
        color: white;
        font-size: 2em;
    }
    span {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
}
div.card {
    border-radius: 15px;
    box-shadow: 0 0 10px 1px #191919;
    min-height: 250px;
    display: flex;
    align-items: center;
    ion-icon {
        font-size: 4em;
    }
    ion-icon.full {
        font-size: 13em;
    }
    span.bankName {
        color: var(--ion-color-primary);
    }
    ion-row.data {
        padding: 0 1em;
    }
}