<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="agenda"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="chatService.chats && chatService.chats.length > 0; else chatVazio">
    <chat-item *ngFor="let chat of chatService.chats; let i = index" [cliente]="chat.cliente" [ulitmaMensagem]="chat.conversas[chat.conversas.length - 1]?.texto" [timestamp]="chat.conversas[chat.conversas.length - 1]?.dthorario" (click)="viewChat(i)"></chat-item>
  </div>
  <ng-template #chatVazio>
    <ion-grid id="chatVazio">
      <ion-row>
        <ion-col>
          <img src="assets/NoMessages.svg" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="title">Sem mensagens</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="message">Você não tem chat ativo</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>
