<ion-content>
    <img id="detalhe-rodape" src="assets/detalhe_rodaPe_login_2.svg" />
    <form>
      <ion-grid>
        <ion-row class="login-content">
          <div id="logo" class="item">
            <img src="assets/logo.svg">
          </div>
          <div class="item">
            <img class="iconLeft" src="assets/icon_email.svg">
            <input class="inputEmail" placeholder="Email" type="text" />
          </div>
          <div class="item">
            <img class="iconLeft II" src="assets/icon_senha.svg">
            <input class="inputSenha" placeholder="Senha" type="password" />
            <img class="iconRight" src="assets/icon_hide_senha.svg">
          </div>
          <ion-note class="noteForm" (click)="recuperarSenha()">Esqueceu a senha?</ion-note>
        </ion-row>
        <ion-row class="signin-col">
          <ion-button (click)="login()">
            <ion-icon slot="icon-only" name="md-arrow-round-forward"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-grid>
      <ion-grid id="cadastro" (click)="goToCadastro()">
        <ion-row>
          <ion-col>
            <ion-note class="noteFooter">Novo no <u>Barber Man?</u></ion-note>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
