<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="assets/logo.svg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="text">Informe seus dados para cadastro.<br></span>
        <span class="obs">* Dados obrigatorios</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="cadastroForm">
    <ion-grid id="form">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nome *</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email *</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Senha *</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Telefone *</ion-label>
            <ion-input formControlName="telefone"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-end">
        <ion-col class="btnCol" size="3" class="ion-text-end">
            <ion-fab-button horizontal="end" size="small" (click)="goToDocumentos()" [disabled]="cadastroForm.invalid">
              <ion-icon name="md-arrow-forward"></ion-icon>
            </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>