ion-content {
    --ion-background-color: #313131;
}

span.text {
    color: var(--ion-color-primary);
    font-size: .9em;
}
span.obs {
    color: #666666;
    font-family: 'Poppins', sans-serif !important;
    font-size: .8em;
}

#form {
    padding: 0 25px;
}

ion-item {
    --color: #666666;
    --border-color: #666666;
    --padding-start: 0;
    --padding-end: 0;
}

ion-col.btnCol {
    display: inline-block;
    padding: 0;
}

ion-label {
    font-family: 'Poppins', sans-serif !important;
    font-size: .7em !important;
}

ion-input {
    color: white;
    font-family: 'Poppins', sans-serif !important;
}

ion-fab-button {
    display: inline-block;
}