ion-content {
    --ion-background-color: #313131;
}

div.square {
    border-radius: 15px;
    box-shadow: 0 0 5px 1px #191919;
    padding: 1.2em 0;
}

span.svgLabel {
    font-size: .65em;
    color: white;
    font-family: 'Poppins', sans-serif;
}

span.text {
    color: var(--ion-color-primary);
    font-size: .9em;
}

span.text.aviso {
    font-size: .8em;
}

span.obs {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    font-size: .8em;
}

div.imgContainer {
    display: inline-block;
    position: relative;
}

div.checkMark {
    position: absolute;
    top: -5px;
    right: -15px;
}

ion-button[disabled] {
    --color: white;
}