<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <img src="assets/logo.svg" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="text">Para validarmos o seu cadastro, tire uma foto de frente e outra do verso do seu documento
          escolhido.<br></span>
        <span class="obs">*Dados obrigatorios</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col>
            <div class="square" (click)="takePhotoFront()">
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ion-col class="ion-text-center">
                    <div class="imgContainer">
                      <img src="assets/docFront.svg" />
                      <div class="checkMark" *ngIf="isPhotoFront">
                        <img src="assets/greenCheck.svg" />
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <span class="svgLabel">Tire foto da frente</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <span class="obs">Frente</span>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-row>
          <ion-col>
            <div class="square" (click)="takePhotoBack()">
              <ion-grid>
                <ion-row class="ion-justify-content-center">
                  <ion-col class="ion-text-center">
                    <div class="imgContainer">
                      <img src="assets/docBack.svg" />
                      <div class="checkMark" *ngIf="isPhotoBack">
                        <img src="assets/greenCheck.svg" />
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="ion-text-center">
                    <span class="svgLabel">Tire foto do verso</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <span class="obs">Verso</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <span style="color: white">Aviso:</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="text aviso">- Observe se você consegue ler os textos nas fotos</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="text aviso">- Se possível, retire o documento do plástico</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <span class="text aviso">- Não aceitamos CNH vencida</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center">
        <ion-button shape="round" (click)="goToSelfie()" [disabled]="!isPhotoFront || !isPhotoBack">Continuar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>