<ion-header mode="ios">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="1" class="ion-text-start" (click)="openMenu()">
        <ion-icon src="assets/menu.svg"></ion-icon>
      </ion-col>
      <ion-col size="10" class="ion-text-center">
        <ion-title>Agenda</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center ion-align-self-center">
        <span class="title">Dias de Trabalho</span>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center ion-align-self-center" *ngFor="let dia of NOME_DIAS_SEMANA; let i = index">
        <div class="weekDay-container" [class.selected]="userService.user.diasTrabalho[dia.toLowerCase()]" (click)="userService.user.diasTrabalho[dia.toLowerCase()] = !userService.user.diasTrabalho[dia.toLowerCase()]">
          {{ dia }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid id="calendario">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center ion-text-center">
        <span class="title">Mês</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div id="mes">{{ nomeMesSelecionado }} <ion-icon (click)="presentPopOver($event)" name="ios-arrow-down"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>{{ anoSelecionado }}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-slides [options]="slidesConfig">
        <ion-slide *ngFor="let dia of diasRestanteMesSelecionado; let i = index" (click)="selectDay(dia, i)">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="dayWeekend">{{ dia.nomeDiaSemana }}</div>
            <div class="dayMonth" [class.selected]="diaSelecionado === dia.numero">{{ dia.numero }}</div>
            <div class="hasService" *ngIf="dia.hasService"></div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col id="whiteLine">
        <div></div>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of agendaFiltrada">
      <ion-col>
        <item-agenda [local]="item.endereco.endereco" [horario]="item.horario" [servicos]="item.servicos" [valor]="item.valortotal"
          [nome]="item.cliente.nome"></item-agenda>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>