ion-header {
    --ion-background-color: #313131;
    color: white;
    border: none;
    box-shadow: none;
    ion-toolbar {
        --border-width: 0;
        --color: white;
        display: flex;
        justify-content: center;
        ion-back-button {
            --icon-font-size: 24px;
        }
        ion-title {
            font-size: 14px;
        }
    }
}

ion-content {
    --ion-background-color: #313131;
    --color: gray;
    #cabecalho {
        padding-bottom: 15px;
        border-bottom: 1px solid gray;
        display: flex;
        flex-direction: row;
        div {
            width: 35%;
        }
        ion-label {
            font-size: .7em;
        }
    }
    div.aba {
        text-align: center;
    }
    .aba:nth-child(1) {
        padding-right: 15px;
        border-right: 1px solid gray;
    }
    .aba:nth-child(3) {
        padding-left: 15px;
        border-left: 1px solid gray;
    }

    ion-label.selecionado {
        color: white;
    }

    #listaVazia {
        height: 90%;
        display: flex;
        align-items: center;
        img {
            height: 6em;
        }
        span {
            font-size: .8em;
        }
        span.title {
            color: white;
            font-weight: 800;
            font-size: .9em;
        }
    }

    #listaVaziaAva {
        height: 100%;
        display: flex;
        align-items: center;
        img {
            height: 6em;
        }
        span {
            font-size: .8em;
        }
        span.title {
            color: white;
            font-weight: 800;
            font-size: .9em;
        }
    }
}

#historicoRealizado {
    margin: 0 15px;
}
#historicoCancelado {
    margin: 0 15px;
}