<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="agenda"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="cabecalho">
    <div class="aba" (click)="abaSelecionada = 'realizado'">
      <ion-label [class.selecionado]="abaSelecionada === 'realizado'">Realizados</ion-label>
    </div>
    <div class="aba" (click)="abaSelecionada = 'avaliacoes'">
      <ion-label [class.selecionado]="abaSelecionada === 'avaliacoes'">Avaliações</ion-label>
    </div>
    <div class="aba" (click)="abaSelecionada = 'cancelado'">
      <ion-label [class.selecionado]="abaSelecionada === 'cancelado'">Cancelados</ion-label>
    </div>
  </div>

  <div id="historicoRealizado" *ngIf="abaSelecionada === 'realizado'">
    <div *ngIf="historicoService.servicosCancelados && historicoService.servicosRealizados.length > 0">
      <div class="itemList" *ngFor="let servico of historicoService.servicosRealizados">
        <div>
          <p>{{ servico.dia }} {{ servico.mes }} {{ servico.ano }}</p>
          <historico-item [servico]="servico"></historico-item>
        </div>
      </div>
    </div>
  </div>

  <div id="avaliacoes" *ngIf="abaSelecionada === 'avaliacoes'">
    <ion-grid>
      <ion-row class="ion-justify-content-center" *ngFor="let avaliacao of historicoService.servicosAvaliados">
        <ion-col size="10">
          <avaliacao [ava]="avaliacao"></avaliacao>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div id="historicoCancelado" *ngIf="abaSelecionada === 'cancelado'">
    <div class="itemList" *ngFor="let servico of historicoService.servicosCancelados">
      <div>
        <p>{{ servico.dia }} {{ servico.mes }} {{ servico.ano }}</p>
        <historico-item [servico]="servico"></historico-item>
      </div>
    </div>
  </div>

  <div id="listaVazia" *ngIf="((abaSelecionada == 'realizado' && (!historicoService.servicosRealizados || historicoService.servicosRealizados.length == 0)) || (abaSelecionada == 'cancelado' && (!historicoService.servicosCancelados || historicoService.servicosCancelados.length == 0)))">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center ion-align-self-center">
          <img src="assets/NoHistory.svg" />
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center">
          <span class="title">Sem histórico</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center">
          <span>Você não tem histórico registrado.</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div id="listaVaziaAva" *ngIf="(abaSelecionada === 'avaliacoes' && (!historicoService.servicosAvaliados || historicoService.servicosAvaliados.length === 0))">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="9" class="ion-text-center ion-align-self-center">
          <img src="assets/NoAva.svg" />
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="9" class="ion-text-center">
          <span class="title">Não há avaliações</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11" class="ion-text-center">
          <span>Irão aparecer aqui assim que existir</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>