ion-content {
    --ion-background-color: #313131;
}

span {
    color: white;
}

ion-slides {
    height: 100%;
}

span.title {
    font-weight: 600;
}

span.text {
    color: gray;
}

span.weekDay {
    font-size: .7em;
}