<ion-content>
  <ion-slides id="mainSlides" pager>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets/slide_3.svg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="title">Baber Man</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span class="text">Seja bem vindo ao Barber Home</span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="9" class="ion-text-center">
            <ion-button shape="round" fill="outline" (click)="goToLogin()">Vamos Lá</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>