<ion-content>
  <ion-slides id="mainSlides" pager>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets/slide_3.svg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>Baber Man</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>Seja bem vindo ao Barber Home</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="assets/slide_2.svg" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>Escolha o dia de Trabalho</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>
              Basta clicar no dia da semana que deseja estar disponível para trabalhar
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <span>DOM</span>
          </ion-col>
          <ion-col>
            <span>SEG</span>
          </ion-col>
          <ion-col>
            <span>TER</span>
          </ion-col>
          <ion-col>
            <span>QUA</span>
          </ion-col>
          <ion-col>
            <span>QUI</span>
          </ion-col>
          <ion-col>
            <span>SEX</span>
          </ion-col>
          <ion-col>
            <span>SAB</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>