<ion-grid [class.selected]="!isInverted">
  <ion-row>
    <ion-col size="2" id="colImg" *ngIf="!isInverted">
      <div class="circularImg">
        <img src="assets/imgs/facePlaceholder.jpg">
      </div>
    </ion-col>
    <ion-col size="1" *ngIf="isInverted === true" (click)="isInverted = !isInverted">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-col>
    <ion-col class="ion-align-self-baseline" *ngIf="!isInverted">
      <div>{{ nome }}</div>
      <div>{{ horario }}</div>
    </ion-col>
    <ion-col id="gridDetails" *ngIf="isInverted">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="header">Local</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" class="ion-align-self-center">
            <ion-icon name="pin"></ion-icon>
          </ion-col>
          <ion-col>
            <div>{{ local }}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="header">Horário</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>{{ horario }}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="header">Serviço</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div *ngFor="let servico of servicos">{{ servico.nome }}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="header">Valor</div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <div>
              <span class="cifrao">R$ </span>
              <span class="valor">{{ valor }}</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row id="btnsRow" class="ion-justify-content-between">
          <ion-col size="5" class="ion-text-start" class="ion-align-self-center">
            <ion-button class="go" (click)="initializeService()">Vamos lá</ion-button>
          </ion-col>
          <ion-col size="6" class="ion-text-start" class="ion-align-self-center">
            <ion-button class="cancel" (click)="cancelService()">Cancelar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
    <ion-col size="2" *ngIf="!isInverted" (click)="isInverted = !isInverted">
      <ion-icon name="ios-arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>